In [17]:
import pandas as pd
import json
import requests as req
from config import gkey

In [18]:
#import data

uber_july_raw = pd.read_csv("uber-raw-data-jul14.csv")

uber_aug_raw = pd.read_csv("uber-raw-data-aug14.csv")

uber_sep_raw = pd.read_csv("uber-raw-data-sep14.csv")

lyft_data_raw = pd.read_csv("Lyft_July-Sep.csv")

lyft_data_raw.head()

      time_of_trip  start_lat  start_lng Unnamed: 3
0    9/4/2014 9:51   40.64705  -73.77988        NaN
1  8/27/2014 21:13   40.74916  -73.98373        NaN
2   9/4/2014 14:16   40.64065  -73.97594        NaN
3   9/4/2014 16:08   40.75002  -73.99514        NaN
4   8/28/2014 2:41   40.76715  -73.98636        NaN

In [22]:
# Union 3 uber datasets together
uber_july_aug = uber_july_raw.append(uber_aug_raw)
uber_data_raw = uber_july_aug.append(uber_sep_raw)
uber_test = uber_data_raw.head(20)
uber_test

           Date/Time      Lat      Lon    Base
0   7/1/2014 0:03:00  40.7586 -73.9706  B02512
1   7/1/2014 0:05:00  40.7605 -73.9994  B02512
2   7/1/2014 0:06:00  40.7320 -73.9999  B02512
3   7/1/2014 0:09:00  40.7635 -73.9793  B02512
4   7/1/2014 0:20:00  40.7204 -74.0047  B02512
5   7/1/2014 0:35:00  40.7487 -73.9869  B02512
6   7/1/2014 0:57:00  40.7444 -73.9961  B02512
7   7/1/2014 0:58:00  40.7132 -73.9492  B02512
8   7/1/2014 1:04:00  40.7590 -73.9730  B02512
9   7/1/2014 1:08:00  40.7601 -73.9823  B02512
10  7/1/2014 1:12:00  40.6951 -74.1784  B02512
11  7/1/2014 1:23:00  40.7203 -73.9992  B02512
12  7/1/2014 1:45:00  40.7575 -73.9721  B02512
13  7/1/2014 2:07:00  40.7471 -73.9872  B02512
14  7/1/2014 2:48:00  40.7808 -73.9565  B02512
15  7/1/2014 3:11:00  40.7624 -73.9786  B02512
16  7/1/2014 3:14:00  40.8150 -73.9095  B02512
17  7/1/2014 3:20:00  40.7498 -73.9813  B02512
18  7/1/2014 3:28:00  40.7623 -73.9797  B02512
19  7/1/2014 3:38:00  40.7274 -73.9904  B02512

In [23]:
#base_url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&sensor=false"

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

In [24]:
try:
    for i, j in uber_test.iterrows():
        coor = "%s, %s" % (j["Lat"],j["Lon"])
        params = {"latlng":coor,
                  "key":gkey
                 }
        response = req.get(base_url, params=params)
        json = response.json()

        zipcode = json["results"][0]["address_components"][8]["long_name"]
        print(zipcode)
        uber_test.loc[i,"zipcode"] = zipcode
        #uber_test["zipcode"].loc[i, ] = zipcode
        
        

except:

    print("invalid")


print(uber_test)

10022
10036

/Users/jialiliu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/jialiliu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

10011
10019
10013
10001
10010
invalid
           Date/Time      Lat      Lon    Base zipcode
0   7/1/2014 0:03:00  40.7586 -73.9706  B02512   10022
1   7/1/2014 0:05:00  40.7605 -73.9994  B02512   10036
2   7/1/2014 0:06:00  40.7320 -73.9999  B02512   10011
3   7/1/2014 0:09:00  40.7635 -73.9793  B02512   10019
4   7/1/2014 0:20:00  40.7204 -74.0047  B02512   10013
5   7/1/2014 0:35:00  40.7487 -73.9869  B02512   10001
6   7/1/2014 0:57:00  40.7444 -73.9961  B02512   10010
7   7/1/2014 0:58:00  40.7132 -73.9492  B02512     NaN
8   7/1/2014 1:04:00  40.7590 -73.9730  B02512     NaN
9   7/1/2014 1:08:00  40.7601 -73.9823  B02512     NaN
10  7/1/2014 1:12:00  40.6951 -74.1784  B02512     NaN
11  7/1/2014 1:23:00  40.7203 -73.9992  B02512     NaN
12  7/1/2014 1:45:00  40.7575 -73.9721  B02512     NaN
13  7/1/2014 2:07:00  40.7471 -73.9872  B02512     NaN
14  7/1/2014 2:48:00  40.7808 -73.9565  B02512     NaN
15  7/1/2014 3:11:00  40.7624 -73.9786  B02512     NaN
16  7/1/2014 3:14:00  40.8150 -73.9095  B02512     NaN
17  7/1/2014 3:20:00  40.7498 -73.9813  B02512     NaN
18  7/1/2014 3:28:00  40.7623 -73.9797  B02512     NaN
19  7/1/2014 3:38:00  40.7274 -73.9904  B02512     NaN