In [1]:
import pandas as pd
import json
import requests as req
from config import gkey

In [2]:
#import data

uber_july_raw = pd.read_csv("uber-raw-data-jul14.csv")

uber_aug_raw = pd.read_csv("uber-raw-data-aug14.csv")


uber_sep_raw = pd.read_csv("uber-raw-data-sep14.csv")

lyft_data_raw = pd.read_csv("Lyft_July-Sep.csv")

lyft_data_raw.head()

      time_of_trip  start_lat  start_lng Unnamed: 3
0    9/4/2014 9:51   40.64705  -73.77988        NaN
1  8/27/2014 21:13   40.74916  -73.98373        NaN
2   9/4/2014 14:16   40.64065  -73.97594        NaN
3   9/4/2014 16:08   40.75002  -73.99514        NaN
4   8/28/2014 2:41   40.76715  -73.98636        NaN

In [ ]:
# Union 3 uber datasets together
# uber_july_aug = uber_july_raw.append(uber_aug_raw)
# uber_data_raw = uber_july_aug.append(uber_sep_raw)
# uber_test = uber_data_raw.sample(1000)
# uber_test
uber_test = uber_data_raw.sample(2000)

uber_test

In [14]:
#base_url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&sensor=false"

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

In [ ]:
for i, j in uber_test.iterrows():
    try:
        coor = "%s, %s" % (j["Lat"],j["Lon"])
        params = {"latlng":coor,
                  "key":gkey
                 }
        response = req.get(base_url, params=params)
        json = response.json()

        zipcode = json["results"][0]["formatted_address"].split(",")[2].split(" ")[2]
        #["address_components"][8]["long_name"]
        #print(zipcode)
        uber_test.loc[i,"zipcode"] = zipcode
        
        

    except:
    
        print("invalid")
    


print(uber_test)

In [ ]:
uber_test.to_csv("data_6.csv",encoding="utf-8", index=False)

In [22]:
lyft_test = lyft_data_raw.sample(1)

lyft_test

          time_of_trip  start_lat  start_lng Unnamed: 3
143651  8/29/2014 2:58   40.74499  -73.97508        NaN

In [24]:
for i, j in lyft_test.iterrows():
    #try:
    coor = "%s, %s" % (j["start_lat"],j["start_lng"])
    params = {"latlng":coor,
              "key":gkey
             }
    response = req.get(base_url, params=params)
    json = response.json()
    print(json)
    zipcode = json["results"][0]["formatted_address"].split(",")[2].split(" ")[2]
    #["address_components"][8]["long_name"]
    #print(zipcode)
    uber_test.loc[i,"zipcode"] = zipcode
        
        

    #except:
    
        #print("invalid")
    


print(lyft_test)

{'error_message': 'You have exceeded your daily request quota for this API.', 'results': [], 'status': 'OVER_QUERY_LIMIT'}

IndexError: list index out of range

In [20]:
lyft_test.to_csv("data_6.csv",encoding="utf-8", index=False)