In [1]:
import pandas as pd
import json
import requests as req
from config import gkey

In [2]:
#import data

uber_july_raw = pd.read_csv("uber-raw-data-jul14.csv")

uber_aug_raw = pd.read_csv("uber-raw-data-aug14.csv")

uber_sep_raw = pd.read_csv("uber-raw-data-sep14.csv")

lyft_data_raw = pd.read_csv("Lyft_July-Sep.csv")

lyft_data_raw.head()

      time_of_trip  start_lat  start_lng Unnamed: 3
0    9/4/2014 9:51   40.64705  -73.77988        NaN
1  8/27/2014 21:13   40.74916  -73.98373        NaN
2   9/4/2014 14:16   40.64065  -73.97594        NaN
3   9/4/2014 16:08   40.75002  -73.99514        NaN
4   8/28/2014 2:41   40.76715  -73.98636        NaN

In [3]:
# Union 3 uber datasets together
uber_july_aug = uber_july_raw.append(uber_aug_raw)
uber_data_raw = uber_july_aug.append(uber_sep_raw)
uber_test = uber_data_raw.head(10)
uber_test

          Date/Time      Lat      Lon    Base
0  7/1/2014 0:03:00  40.7586 -73.9706  B02512
1  7/1/2014 0:05:00  40.7605 -73.9994  B02512
2  7/1/2014 0:06:00  40.7320 -73.9999  B02512
3  7/1/2014 0:09:00  40.7635 -73.9793  B02512
4  7/1/2014 0:20:00  40.7204 -74.0047  B02512
5  7/1/2014 0:35:00  40.7487 -73.9869  B02512
6  7/1/2014 0:57:00  40.7444 -73.9961  B02512
7  7/1/2014 0:58:00  40.7132 -73.9492  B02512
8  7/1/2014 1:04:00  40.7590 -73.9730  B02512
9  7/1/2014 1:08:00  40.7601 -73.9823  B02512

In [4]:
#base_url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&sensor=false"

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

In [9]:
try:
    for i, j in uber_test.iterrows():
        coor = "%s, %s" % (j["Lat"],j["Lon"])
        params = {"latlng":coor,
                  "sensor":"false",
                  "key":gkey
                 }
        response = req.get(base_url, params=params)
        json = response.json()

        zipcode = json["results"][0]["address_components"][8]["long_name"]
        print(zipcode)
        uber_test["zipcode"] = zipcode
        
        

except:

    print("invalid")


print(uber_test)

10022
10036

/Users/jialiliu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

10011
10019
10013
10001
10010
invalid
          Date/Time      Lat      Lon    Base zipcode
0  7/1/2014 0:03:00  40.7586 -73.9706  B02512   10010
1  7/1/2014 0:05:00  40.7605 -73.9994  B02512   10010
2  7/1/2014 0:06:00  40.7320 -73.9999  B02512   10010
3  7/1/2014 0:09:00  40.7635 -73.9793  B02512   10010
4  7/1/2014 0:20:00  40.7204 -74.0047  B02512   10010
5  7/1/2014 0:35:00  40.7487 -73.9869  B02512   10010
6  7/1/2014 0:57:00  40.7444 -73.9961  B02512   10010
7  7/1/2014 0:58:00  40.7132 -73.9492  B02512   10010
8  7/1/2014 1:04:00  40.7590 -73.9730  B02512   10010
9  7/1/2014 1:08:00  40.7601 -73.9823  B02512   10010